<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Notedown (&alpha;)</title>
    <link rel="shortcut icon" href="/static/icon.png?v1" type="image/png">

    <link rel="stylesheet" href="/static/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/deps/highlightjs/github.css">
    <script src="/static/deps/underscore-min.js"></script>
    <script src="/static/deps/fetch.js"></script>
    <script src="/static/deps/highlightjs/highlight.pack.js"></script>
    <script>
      // Disable auto language detection
      hljs.configure({ languages: [] });
    </script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="/static/style.css?v4">
    <link rel="stylesheet" href="/static/note-rendered.css?v4">
    <script src="/static/api.js?v7"></script>
    <script src="/static/abstract-ui.js?v2"></script>
  </head>
  <body>

    <script type="text/x-template" id="notes-editor-template">
      <div class="notes-editor">

        <aside class="sidebar">
          <div class="toolbar">
            <button v-on:click="notes.new()"><i class="fa fa-plus"></i></button>
            <div class="spacer"></div>
            <button v-on:click="notes.refresh()"><i class="fa fa-refresh"></i></button>
          </div>
          <ul class="notes-list">
            <li v-for="note in notes.sortedByUpdateTime()"
                v-bind:class="{ selected: notes.isSelected(note) }"
                v-on:click="notes.select(note)">
              <p class="title">{{ note.title() }}</p>
              <div class="status">
                <i v-if="note.isBeingSaved" class="fa fa-circle-o-notch fa-spin loading-icon"></i>
                <i v-else-if="note.saveError"
                   title="Сохранение не удалось. Кликните, чтобы попробовать снова."
                   class="fa fa-exclamation-triangle error-icon"
                   v-on:click="note.save()"></i>
              </div>
              <p class="body">{{ note.bodyPreview() }}</p>
            </li>
          </ul>
        </aside>

        <main>
          <div class="toolbar-wrap">
            <div class="toolbar" v-if="notes.hasSelected()">
              <button v-if="!notes.isEditing" v-on:click="notes.isEditing = true"><i class="fa fa-pencil"></i></button>
              <button v-else v-on:click="notes.isEditing = false"><i class="fa fa-check"></i></button>
              <div class="spacer"></div>
              <button v-on:click="remove_confirm"><i class="fa fa-trash"></i></button>
            </div>
          </div>
          <div class="editor" v-if="notes.hasSelected()">
            <div class="note-rendered" v-if="!notes.isEditing" v-html="notes.selected.rendered" v-on:change="onCheck" v-highlightjs></div>
            <textarea class="note-textarea" v-else v-model="notes.selected.text" v-on:input="notes.saveDebounced"></textarea>
          </div>
        </main>

      </div>
    </script>

    <script type="text/x-template" id="login-form-template">
      <div class="login-form">
        <div class="form-wrap">
          <h1>Welcome to Notedown</h1>
          <h2>Please, log in using the form below</h2>
          <input type="text" class="username-input" v-model="username">
          <input type="password" class="password-input" v-model="password">
          <p class="error-message">
            <i v-if="errorMessage" class="fa fa-remove"></i>
            {{ errorMessage }}
          </p>
          <button v-on:click="submit">Log in</button>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="bottom-bar-template">
      <div class="bottom-bar">
        <h1>Notedown</h1>
        <div class="spacer"></div>
        <div class="username-display">{{ account.username }}</div>
        <button v-on:click="$emit('logout')" class="logout-button">Выйти</button>
      </div>
    </script>

    <div id="app">
      <div v-if="loggedIn == undefined">
        <p>Loading...</p>
      </div>
      <notes-editor v-if="loggedIn == true"></notes-editor>
      <login-form v-if="loggedIn == false" v-on:login="login"></login-form>

      <bottom-bar v-if="loggedIn == true" v-bind:account="account" v-on:logout="logout"></bottom-bar>
    </div>

    <script src="/static/ui.js?v2"></script>
  </body>
</html>
