<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Notedown WIP</title>

    <script src="/static/deps/underscore-min.js"></script>
    <script src="/static/deps/fetch.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/api.js"></script>
    <script src="/static/abstract-ui.js"></script>
  </head>
  <body>
    <div id="app">

      <aside class="sidebar">
        <div class="toolbar">
          <button v-on:click="notes.new()">Новая заметка</button>
          <div class="spacer"></div>
          <button v-on:click="refresh">Обновить</button>
        </div>
        <ul class="notes-list">
          <li v-for="note in notes.asArray()"
              v-bind:class="{ selected: notes.isSelected(note) }"
              v-on:click="notes.select(note)">{{ note.text }}</li>
        </ul>
      </aside>

      <main>
        <div class="toolbar-wrap">
          <div class="toolbar" v-if="notes.hasSelected()">
            <button v-on:click="notes.deselect()">Закрыть</button>
            <div class="spacer"></div>
            <button v-if="!notes.isEditing" v-on:click="notes.isEditing = true">Ред.</button>
            <button v-else v-on:click="notes.isEditing = false">Ок</button>
            <button v-on:click="notes.remove(notes.selected)">Удалить</button>
          </div>
        </div>
        <div class="editor" v-if="notes.hasSelected()">
          <div class="note-rendered" v-if="!notes.isEditing" v-html="notes.selected.rendered"></div>
          <textarea class="note-textarea" v-else v-model="notes.selected.text" v-on:input="notes.saveDebounced"></textarea>
        </div>
      </main>

    </div>
    <script src="/static/ui.js"></script>
  </body>
</html>
