.note-rendered {
  padding: 40px;
  line-height: 1.5;
}

.note-rendered h1 {
  margin-bottom: 16px;
}
.note-rendered h2 {
  margin-bottom: 14px;
}
.note-rendered h3 {
  margin-bottom: 12px;
}
.note-rendered h4 {
  margin-bottom: 10px;
}
.note-rendered h5 {
  margin-bottom: 10px;
}
.note-rendered h6 {
  margin-bottom: 10px;
}

.note-rendered p, .note-rendered ul, .note-rendered ol {
  margin-bottom: 10px;
}

.note-rendered ul, .note-rendered ol {
  margin-left: 32px;
}
