.note-rendered {
  padding: 40px;
  line-height: 1.5;
  word-break: break-word;
  font-size: 14px;
}

.note-rendered h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}
.note-rendered h1 {
  margin-bottom: 20px;
}
.note-rendered h2 {
  margin-bottom: 24px;
}
.note-rendered h3 {
  margin-bottom: 22px;
}
.note-rendered h4 {
  margin-bottom: 20px;
}
.note-rendered h5 {
  margin-bottom: 18px;
}
.note-rendered h6 {
  margin-bottom: 16px;
}

.note-rendered p, .note-rendered ul, .note-rendered ol,
.note-rendered pre, .note-rendered hr {
  margin-bottom: 16px;
}
.note-rendered ul, .note-rendered ol {
  margin-left: 32px;
}
.note-rendered li {
  margin-bottom: 4px;
}
.note-rendered li ul, .note-rendered li ol {
  margin-top: 4px;
  margin-bottom: 0px;
}

.note-rendered a {
  color: #21294c;
}
.note-rendered a:active {
  color: #555d80;
}

.note-rendered hr {
  border: 1px solid rgba(0,0,0,0.25);
  border-bottom: none;
}

.note-rendered code, .note-rendered pre, .note-rendered code * {
  background-color: rgba(255, 255, 255, 0.75);
  font-family: 'PT Mono', monospace;
}
.note-rendered code {
  display: inline;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.note-rendered pre {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.note-rendered pre code {
  background: none;
  border: none;
  display: block;
  width: 100%;
  padding: 16px;
}

.note-rendered blockquote {
  font-size: 1.2em;
  font-style: italic;
  padding-left: 16px;
  border-left: 3px solid #dadada;
  color: #5f5f5f;
}

.note-rendered img {
  max-width: 100%;
}

.note-rendered img.latex-formula {
  vertical-align: middle;
}
