* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.toolbar {
  display: flex;
  flex-direction: row;
  height: 48px;
}
.toolbar .spacer {
  flex-grow: 1;
}
.toolbar button {
  flex-grow: 0;
  background: none;
  border: none;
  font-size: 14pt;
  width: 47px;
  outline: none;
  cursor: pointer;
}
.toolbar button:active {
  background-color: #d9d9d9;
}

#app {
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.login-form, .notes-editor {
  width: 100%;
  flex-grow: 1;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form .form-wrap {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 12px;
}
.login-form .form-wrap > * {
  margin-bottom: 6px;
}
.login-form h1 {
  font-size: 18pt;
  text-align: center;
}
.login-form h2 {
  font-size: 12pt;
  text-align: center;
}
.login-form input {
  font-size: 14pt;
}
.login-form .error-message {
  height: 24px;
  text-align: center;
  color: rgb(201, 39, 22);
}
.login-form button {
  font-size: 14pt;
}

.notes-editor {
  display: flex;
  flex-direction: row;
}

.notes-editor .sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 320px;
  border-right: 1px solid gray;
}
.notes-editor .sidebar .toolbar {
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: 1px solid gray;
}
.notes-editor .sidebar ul.notes-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow-y: scroll;
}
.notes-editor .sidebar ul.notes-list li {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 14px;
  height: 88px;
  border-bottom: 1px solid #cdcdcd;
  cursor: pointer;
  user-select: none;

  overflow: hidden;
  text-overflow: ellipsis;
}
.notes-editor .sidebar ul.notes-list li .title {
  font-weight: bold;
  margin-right: 26px;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-editor .sidebar ul.notes-list li .status {
  position: absolute;
  top: 14px;
  right: 14px;
}
.notes-editor .sidebar ul.notes-list li .status .loading-icon {
  color: rgba(0, 0, 0, 0.3);
}
.notes-editor .sidebar ul.notes-list li .status .error-icon {
  color: rgb(224, 83, 34);
}
.notes-editor .sidebar ul.notes-list li .status .success-icon {
  color: rgba(0, 0, 0, 0.3);
  opacity: 0;
}
.notes-editor .sidebar ul.notes-list li .status .success-icon.fade-enter-active {
  transition: opacity 1s;
}
.notes-editor .sidebar ul.notes-list li .status .success-icon.fade-enter {
  opacity: 1;
}
.notes-editor .sidebar ul.notes-list li .status .success-icon.fade-leave-active,
.notes-editor .sidebar ul.notes-list li .status .success-icon.fade-leave-to {
  /*
    So it wouldn't push the loading icon in the frame
    when note started saving and loading icon has appeared
    but success icon is not yet gone from the DOM.
  */
  display: none;
}
.notes-editor .sidebar ul.notes-list li .body {
  color: #6f6f6f;
  overflow: hidden;
  max-height: 36px;
}
.notes-editor .sidebar ul.notes-list li:not(.selected):hover {
  background-color: #f4f4f4;
}
.notes-editor .sidebar ul.notes-list li.selected {
  background-color: #e8e8e8;
}

.notes-editor main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
.notes-editor main .toolbar-wrap {
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: 1px solid gray;
  height: 48px;
}
.notes-editor main .editor {
  display: flex;
  flex-grow: 1;
}
.notes-editor main textarea.note-textarea {
  flex-grow: 1;
  padding: 40px;
  resize: none;
  border: none;
  outline: none;
}
.notes-editor main .note-rendered {
  flex-grow: 1;
  overflow-y: auto;
}

.bottom-bar {
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  align-items: center;
  height: 32px;
  padding: 6px;
  background-color: black;
  color: white;
}
.bottom-bar .spacer {
  flex-grow: 1;
}
.bottom-bar h1 {
  display: block;
  font-size: 12pt;
}
.bottom-bar .username-display {
  margin-right: 12px;
}
.bottom-bar .logout-button {
  background: none;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
