* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.toolbar {
  display: flex;
  flex-direction: row;
  height: 48px;
}
.toolbar .spacer {
  flex-grow: 1;
}
.toolbar button {
  flex-grow: 0;
  background: none;
  border: none;
  font-size: 14pt;
  width: 47px;
  outline: none;
  cursor: pointer;
}
.toolbar button:active {
  background-color: #d9d9d9;
}

#app {
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.notes-editor {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.notes-editor .sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 320px;
  border-right: 1px solid gray;
}
.notes-editor .sidebar .toolbar {
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: 1px solid gray;
}
.notes-editor .sidebar ul.notes-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow-y: scroll;
}
.notes-editor .sidebar ul.notes-list li {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 14px;
  height: 48px;
  border-bottom: 1px solid #cdcdcd;
  cursor: pointer;
  user-select: none;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notes-editor .sidebar ul.notes-list li:not(.selected):hover {
  background-color: #f4f4f4;
}
.notes-editor .sidebar ul.notes-list li.selected {
  background-color: #e8e8e8;
}

.notes-editor main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
.notes-editor main .toolbar-wrap {
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: 1px solid gray;
  height: 48px;
}
.notes-editor main .editor {
  display: flex;
  flex-grow: 1;
}
.notes-editor main textarea.note-textarea {
  flex-grow: 1;
  padding: 40px;
  resize: none;
  border: none;
  outline: none;
}
.notes-editor main .note-rendered {
  flex-grow: 1;
  overflow-y: auto;
}

.bottom-bar {
  height: 32px;
  flex-grow: 0;
  background-color: black;
  color: white;
}
