* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.toolbar {
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  height: 48px;
}
.toolbar .spacer {
  flex-grow: 1;
}
.toolbar button {
  flex-grow: 0;
}

#app {
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

#app aside {
  flex-grow: 0;
  width: 320px;
  border-right: 1px solid gray;
}
#app aside .toolbar {
  border-bottom: 1px solid gray;
}
#app aside ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
#app aside ul li {
  flex-grow: 0;
  padding: 14px;
  height: 48px;
  border-bottom: 1px solid #cdcdcd;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#app aside ul li:not(.selected):hover {
  background-color: #f4f4f4;
}
#app aside ul li.selected {
  background-color: #e8e8e8;
}

#app main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
#app main .toolbar-wrap {
  border-bottom: 1px solid gray;
  height: 48px;
}
/*#app main .main-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}*/
#app main textarea {
  flex-grow: 1;
  resize: none;
  border: none;
  outline: none;
}
