dist: trusty
language: python
python: "3.5"
addons:
  ssh_known_hosts: notedown.oyam.su
before_install:
  - curl -sL https://deb.nodesource.com/setup | sudo bash -
  - sudo apt-get install -qq nodejs phantomjs
  - sudo npm install -g mocha-phantomjs
install:
  - "pip install -r requirements.txt"
script:
  - "./main.py test"
  - "./main.py test-frontend"
env:
  - SECRET_KEY=kVAhMrjshuSVrZGWV2dj
before_deploy:
  - openssl aes-256-cbc -K $encrypted_7854e7c6a4a2_key -iv $encrypted_7854e7c6a4a2_iv
    -in travis/deploy_rsa.enc -out travis/deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 travis/deploy_rsa
  - ssh-add travis/deploy_rsa
deploy:
  skip_cleanup: true
  provider: script
  script: travis/deploy.sh
  on:
    branch: master
